<div class="remove-container container-block">
    <h2 class="container-block-title">
        About Theme
    </h2>
    <ul class="list-unstyled interests-list">
        <a href="https://www.youtube.com/watch?v=Jnmj1dXDbNk" target="_blank">
            <li>How to use?</li>
        </a>
    </ul>
</div><!--//About-->