<head>
    <title>{{ site.title }}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    {% if site.chrome_mobile_color %}
    <meta content="{{ site.chrome_mobile_color }}" name="theme-color">
    {% endif%}
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="A beautiful Jekyll theme for creating resume" name="description">

    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon">

    <!-- Global CSS -->
    <link href="{{ site.baseurl }}/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="{{ site.baseurl }}/assets/plugins/font-awesome/css/all.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ site.baseurl }}/assets/css/main.css" id="theme-style" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>