<!-- Javascript -->
<script src="{{site.baseurl}}/assets/plugins/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="{{site.baseurl}}/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<!-- custom js -->
<script src="{{site.baseurl}}/assets/js/main.js" type="text/javascript"></script>

{% if site.analytics %}
{% include analytics.html %}
{% endif %}